<? INC DocType.tmpl ?>
<? INC Options.tmpl ?>
<? ADDROW CSSLoop HREF=/skinfiles/_default_/global.css ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>ZNC - <? VAR Title DEFAULT="Web Frontend" ?></title>
		<? LOOP CSSLoop ?>
		<?IF HREF?><link rel="stylesheet" type="text/css" href="<? VAR HREF ?>" /><?ENDIF?>
		<?ENDLOOP?>

		<? LOOP JSLoop ?>
		<?IF HREF?><script type="text/javascript" src="<? VAR HREF ?>"></script><?ENDIF?>
		<?ENDLOOP?>

		<? INC ExtraHeader.tmpl ?>
	</head>

	<body>
		<!-- Wrapper -->
		<div id="wrapper">
			<!-- Banner -->
			<? INC Banner.tmpl ?>
			<!-- !Banner -->

			<!-- MessageBar -->
			<? INC MessageBar.tmpl ?>
			<!-- !MessageBar -->

			<!-- InfoBar -->
			<? INC InfoBar.tmpl ?>
			<!-- !InfoBar -->

			<!-- Main -->
			<div id="main">
				<!-- Menu -->
				<? INC Menu.tmpl ?>
				<!-- !Menu -->

				<!-- Content -->
				<div id="content">

					<!-- BreadCrumbs -->
					<? INC BreadCrumbs.tmpl ?>
					<!-- !BreadCrumbs -->

					<div id="subpage">

						<? REM ?>
							In your subpage (module page or static page) you'll probably want to do something like this...

								<? INC Header.tmpl ?>
								This is my <b>super</b> cool sub page!
								<? INC Footer.tmpl ?>

							If you'd like to add your own local css file to be included after the global main.css,
							you can make your own Header.tmpl like so...

								<? ADDROW CSSLoop HREF=/pub/your_local.css ?>
								<? ADDROW JSLoop HREF=/pub/your_local.js ?>
								<? INC BaseHeader.tmpl ?>

						<? ENDREM ?>
